  @font-face {
            font-family: Catnopies;
            src: url("fuentes/Catnopies-Regular.ttf");
        }
body{
     background-color: black;
    color: white; 
    font-family: "Crimson Ritual",Crimson Ritual;
    margin-top: 10em;
    margin-bottom: 10em;
    margin-left: 20em;
    margin-right: 30em;
    .titulo {
      font-family: Catnopies;
    }
    .centrado{
        text-align: center;
    }
}
.portada{
    width: 100%;
    height: auto;
}
.Historia{
    font-family: Catnopies ;
}
.donacion{
background-color: black;
border: 5px solid white;
padding: 1em;
margin: 20px;
border-radius: 5px;
box-shadow: 0 2 px 4 px white;
}
